In [1]:
import pandas as pd
import numpy as np
import datareader

In [2]:
scrips = ["DMART","GOLDBEES","HDFC","JUNIORBEES","NIFTYBEES","TCS","MARUTI","KNRCON"]

In [3]:
candles = datareader.get_candles(scrips, '2010-01-01', '2020-01-01')

request url: https://kitecharts-aws.zerodha.com/api/chart/5097729/week?&from=2010-01-01&to=2015-06-23

WARNING:root:No candles found for the given interval

request url: https://kitecharts-aws.zerodha.com/api/chart/5097729/week?&from=2014-07-12&to=2020-01-01
request url: https://kitecharts-aws.zerodha.com/api/chart/3693569/week?&from=2010-01-01&to=2015-06-23
request url: https://kitecharts-aws.zerodha.com/api/chart/3693569/week?&from=2014-07-12&to=2020-01-01
request url: https://kitecharts-aws.zerodha.com/api/chart/340481/week?&from=2010-01-01&to=2015-06-23
request url: https://kitecharts-aws.zerodha.com/api/chart/340481/week?&from=2014-07-12&to=2020-01-01
request url: https://kitecharts-aws.zerodha.com/api/chart/2800385/week?&from=2010-01-01&to=2015-06-23
request url: https://kitecharts-aws.zerodha.com/api/chart/2800385/week?&from=2014-07-12&to=2020-01-01
request url: https://kitecharts-aws.zerodha.com/api/chart/2707457/week?&from=2010-01-01&to=2015-06-23
request url: https://kitecharts-aws.zerodha.com/api/chart/2707457/week?&from=2014-07-12&to=2020-01-01
request url: https://kitecharts-aws.zerodha.com/api/chart/2953217/week?&from=2010-01-01&to=2015-06-23
request url: https://kitecharts-aws.zerodha.com/api/chart/2953217/week?&from=2014-07-12&to=2020-01-01
request url: https://kitecharts-aws.zerodha.com/api/chart/2815745/week?&from=2010-01-01&to=2015-06-23
request url: https://kitecharts-aws.zerodha.com/api/chart/2815745/week?&from=2014-07-12&to=2020-01-01
request url: https://kitecharts-aws.zerodha.com/api/chart/3912449/week?&from=2010-01-01&to=2015-06-23
request url: https://kitecharts-aws.zerodha.com/api/chart/3912449/week?&from=2014-07-12&to=2020-01-01

In [4]:
def merge_candles(candles):
    # takes dict keys as scrip names. drops all colums except ['Close', 'Date'] and then merges.
    # returns dataframe in column names representing their respective close prices
    # eg. df.columns will give you ['HDFC', 'ICICI', 'DMART', ...] where each column represents its close price
    # df.index will be Date object
    concatted_df = pd.concat([df[['Date', 'Close']].set_index('Date') for df in candles.values()], axis=1, join='outer')
    concatted_df.columns = candles.keys()
    print(concatted_df)
    return concatted_df

In [5]:
universe = merge_candles(candles)

                             DMART  GOLDBEES     HDFC  JUNIORBEES  NIFTYBEES  \
Date
2010-01-04 00:00:00+05:30      NaN       NaN   520.01         NaN        NaN
2010-01-11 00:00:00+05:30      NaN       NaN   504.30         NaN        NaN
2010-01-18 00:00:00+05:30      NaN       NaN   481.74         NaN        NaN
2010-01-25 00:00:00+05:30      NaN       NaN   476.77         NaN        NaN
2010-02-01 00:00:00+05:30      NaN       NaN   477.96         NaN        NaN
...                            ...       ...      ...         ...        ...
2019-12-02 00:00:00+05:30  1801.40     33.60  2264.65      289.90     126.20
2019-12-09 00:00:00+05:30  1782.75     33.20  2354.50      290.71     127.90
2019-12-16 00:00:00+05:30  1919.60     33.65  2404.10      293.92     130.34
2019-12-23 00:00:00+05:30  1925.55     34.15  2444.15      296.18     129.56
2019-12-30 00:00:00+05:30  1828.50     34.35  2433.95      293.53     129.42

                               TCS   MARUTI  KNRCON
Date
2010-01-04 00:00:00+05:30   344.53  1433.15   26.47
2010-01-11 00:00:00+05:30   389.63  1413.45   25.10
2010-01-18 00:00:00+05:30   373.11  1444.45   24.10
2010-01-25 00:00:00+05:30   362.45  1389.45   25.09
2010-02-01 00:00:00+05:30   356.20  1358.90   24.67
...                            ...      ...     ...
2019-12-02 00:00:00+05:30  2123.60  6886.70  225.70
2019-12-09 00:00:00+05:30  2071.25  7214.95  246.60
2019-12-16 00:00:00+05:30  2222.90  7261.50  230.95
2019-12-23 00:00:00+05:30  2198.50  7344.90  233.85
2019-12-30 00:00:00+05:30  2167.60  7311.70  253.60

[522 rows x 8 columns]

In [6]:
ut = universe.tail(6).pct_change().dropna()
ut

,DMART,GOLDBEES,HDFC,JUNIORBEES,NIFTYBEES,TCS,MARUTI,KNRCON
Date,,,,,,,,
2019-12-02 00:00:00+05:30,-0.011578,0.005988,-0.014191,-0.019780,-0.010196,0.034263,-0.049566,-0.021249
2019-12-09 00:00:00+05:30,-0.010353,-0.011905,0.039675,0.002794,0.013471,-0.024652,0.047664,0.092601
2019-12-16 00:00:00+05:30,0.076763,0.013554,0.021066,0.011042,0.019077,0.073217,0.006452,-0.063463
2019-12-23 00:00:00+05:30,0.003100,0.014859,0.016659,0.007689,-0.005984,-0.010977,0.011485,0.012557
2019-12-30 00:00:00+05:30,-0.050401,0.005857,-0.004173,-0.008947,-0.001081,-0.014055,-0.004520,0.084456

In [12]:
print(ut.mean())
print(ut.var())
print(ut.cov())

DMART         0.001506
GOLDBEES      0.005671
HDFC          0.011807
JUNIORBEES   -0.001440
NIFTYBEES     0.003057
TCS           0.011559
MARUTI        0.002303
KNRCON        0.020980
dtype: float64
DMART         0.002168
GOLDBEES      0.000114
HDFC          0.000454
JUNIORBEES    0.000162
NIFTYBEES     0.000160
TCS           0.001698
MARUTI        0.001224
KNRCON        0.004536
dtype: float64
               DMART  GOLDBEES      HDFC  JUNIORBEES  NIFTYBEES       TCS  \
DMART       0.002168  0.000201  0.000386    0.000383   0.000364  0.001517
GOLDBEES    0.000201  0.000114 -0.000096    0.000025  -0.000036  0.000229
HDFC        0.000386 -0.000096  0.000454    0.000219   0.000201 -0.000182
JUNIORBEES  0.000383  0.000025  0.000219    0.000162   0.000109  0.000047
NIFTYBEES   0.000364 -0.000036  0.000201    0.000109   0.000160  0.000155
TCS         0.001517  0.000229 -0.000182    0.000047   0.000155  0.001698
MARUTI      0.000205 -0.000174  0.000701    0.000333   0.000293 -0.000649
KNRCON     -0.002490 -0.000501  0.000314   -0.000132  -0.000058 -0.002549

              MARUTI    KNRCON
DMART       0.000205 -0.002490
GOLDBEES   -0.000174 -0.000501
HDFC        0.000701  0.000314
JUNIORBEES  0.000333 -0.000132
NIFTYBEES   0.000293 -0.000058
TCS        -0.000649 -0.002549
MARUTI      0.001224  0.001145
KNRCON      0.001145  0.004536

In [8]:
sum((ut['DMART']-0.001506)**2)/(5-1) # variance for dmart

0.002168097757752744

In [21]:
# calculate the covariance manually.
round(sum((ut['DMART'] - 0.001506)*(ut['GOLDBEES'] - 0.005671))/4, 6)

0.000201